.tagWrapper {
  display: inline-block;
  padding: 2px var(--spaces-xs);

  color: var(--base-color-d);
  border-radius: var(--spaces-s);
  font-weight: var(--font-weight-bold);

  text-transform: capitalize;
  font-size: var(--text-size-xs);
  line-height: var(--text-height-xs);
  font-weight: var(--font-weight-bold);
}
