.wrapper {
  display: flex;
  align-items: center;
  gap: var(--spaces-xs);

  padding: var(--spaces-xs);

  background-color: var(--base-color-d);
  border-radius: var(--spaces-xs);
  border: 1px solid var(--base-color-b);
}

.search {
  flex-grow: 1;
  border: none;
}

.button {
  padding: var(--spaces-xxs) var(--spaces-xs);

  color: var(--base-color-d);
  background-color: var(--base-color-a);

  border: none;
  border-radius: var(--radius-s);
  font-weight: var(--font-weight-bold);

  cursor: pointer;
}
