.header {
  padding: var(--spaces-m);

  box-shadow: var(--shadow-s);
}

.content {
  display: flex;
  align-items: center;
  gap: var(--spaces-s);

  max-width: var(--layout);

  margin: auto;
}

.title {
  font-size: var(--heading-size-m);
  line-height: var(--heading-height-m);
  font-weight: var(--font-weight-bold);
}
