.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: var(--spaces-xs);

  border-top: 1px solid var(--base-color-b);
}

.logo {
  padding: 0 var(--spaces-s);
}

.logo:not(:last-child) {
  border-right: 1px solid var(--base-color-b);
}
