.wrapper {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--spaces-l);
}

.main {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--spaces-l);

  padding: 0 var(--spaces-m);
  max-width: var(--layout);

  margin: auto;
}

.searchWrapper {
  position: sticky;
  z-index: 1;
  top: var(--spaces-l);

  max-width: 502px;
  width: 100%;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--spaces-l);
}

.status {
  justify-self: center;
  align-self: center;
  text-align: center;
}

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spaces-m);
  }
}

@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    gap: var(--spaces-s);
  }
}
